.subjects-view .header-content .main-logo, .chapters-view .header-content .main-logo{
  width:250
  float:left;
}
.subjects-view .header-content .search
{
  display:inline-block;
  margin-left:200px;
}
.subjects-view .otherApps
{
  margin-right:110px;
  margin-top:33px;
}
.subjects-view .subjects-main
{
  margin-left:400px;
}
.subjects-view .subject-header .gradeBlock
{
  width:271px;
}
.subjects-view .subject-header .gradeBlock .gradeText{
  padding-left:111px;
}
.subjects-view .subject-header .gradeBlock .gradeBlockImage{
  margin-left:95px;
}
.subjects-view .subject-header .subjects-main, .chapters-view .subject-header .subjects-main
{
  margin-left:440px;
}
.subjects-view .clearfix .pointer, .subjects-view .clearfix .pointerText
{
  margin-left:586px;
  padding-top:22px;
}


.chapters-view .subject-header .subjects-main .header-icon
{
  margin-top:-107px;
}
.chapters-view .subject-header .gradeBlock
{
  width:202px;
}
.chapters-view .subject-header .gradeBlock .gradeText{
  padding-left:69px;
}
.chapters-view .subject-header .gradeBlock .gradeBlockImage{
  margin-left:58px;
}
.chapters-view .header-content .search
{
  display:inline-block;
  padding:25px;
  margin-left:200px;
}
.chapters-view .main-content .chapters-container .listText
{
  padding-left:31px;
}




.contents-view .subject-header .subjects-main
{
  margin-left:374px;
}
.contents-view .header-content .main-logo
{
  margin-top:-90px;
}
.contents-view .subject-header .gradeBlock
{
  width:202px;
}
.contents-view .subject-header .gradeBlock .gradeText{
  padding-left:69px;
}
.contents-view .subject-header .gradeBlock .gradeBlockImage{
  margin-left:58px;
}
.contents-view .main-content .chapters-container .listText
{
  padding-left:31px;
}





.header-icon .icon {
    height: 80px;
    width: 80px;
    background-size: 50px 50px;
    border-radius: 40px;
    margin: 0px 20px 5px 20px;
}

.header-icon .icon-text {
    font-size: 20px;
}
