.header-icon {
    width: 90px;
}

.header-icon .icon {
    height: 60px;
    width: 60px;
    background-size: 40px 40px;
    border-radius: 30px;
    margin: 0px 15px 5px 15px;
}

.header-icon .icon-text {
    font-size: 18px;
}

.subsection-view .header-content, .apps-view .header-content,
.topics-view .header-content {
    height: 220px;
}

.subsection-view .header-content .search, .apps-view .header-content .search,
.topics-view .header-content .search {
    padding: 10px;
}

.subsection-view .header-content .search input, .apps-view .header-content .search input,
.topics-view .header-content .search input {
    width: 300px;
    height: 52px;
    border-radius: 10px 0px 0px 10px;
    font-size: 18px;
    padding-left: 10px;
}

.subsection-view .header-content .search button, .apps-view .header-content .search button,
.topics-view .header-content .search button {
    background-size: 80px 56px;
    width: 75px;
    height: 56px;
    background-position: -5px -1px;
    border-radius: 0px 10px 10px 0px;
    margin-left: -10px;
}

.subsection-view .main-content .blocks, .apps-view .main-content .blocks,
.topics-view .main-content .blocks {
    width: 160px;
    height: 160px;
    margin: 15px;
    padding: 5px;
    background-size: 70px 70px;
    font-size: 16px;
}

.subsection-view .main-content .blocks label, .apps-view .main-content .blocks label
.topics-view .main-content .blocks label {
    padding-top: 130px;
}

.subsection-view .main-content .blocks {
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 5px;
    background-size: 100px 100px;
    font-size: 20px;
}

.subsection-view .main-content .blocks label {
    padding-top: 155px;
}

.topics-view .main-content .blocks {
    width: 160px;
    height: 160px;
    padding: 0px;
    margin: 20px 20px 50px 20px;
    background-size: 160px 160px;
    font-size: 18px;
}

.topics-view .main-content .blocks label {
    padding-top: 170px;
}

.apps-view .main-content .blocks {
    width: 160px;
    height: 160px;
    padding: 0px;
    margin: 20px 20px 50px 20px;
    background-size: 160px 160px;
    font-size: 18px;
}

.apps-view .main-content .blocks label {
    padding-top: 170px;
}

.topics-view .main-content .subjects-container {
    width: 65%;
    margin: 0 6% 0 6%;
}

.side-menu
{
    width: 20%;
}

.topics-block .topics-block-img
{
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    padding: 20px;
}

.topics-block-text {
    height: 50px;
    width: 100px;
}

.topics-block .topics-block-text a {
    font-size: 18px;
    padding-top: 40px;
}