.subjects-view .header-content .main-logo, .chapters-view .header-content .main-logo{
  width:230px;
  float:left;
  margin-top:-90px;
}
.subjects-view .header-content .search
{
  display:inline-block;
  margin-left:338px;
}
.subjects-view .otherApps
{
  margin-right:110px;
  margin-top:32px;
}
.subjects-view .subjects-main
{
  margin-left:400px;
}
.subjects-view .subject-header .header-icon
{
  margin-top:-94px;
}
.subjects-view .subject-header .gradeBlock
{
  width:187px;
  height:115px;
}
.subjects-view .subject-header .gradeBlock .gradeText{
  padding-left:68px;
}
.subjects-view .subject-header .gradeBlock .gradeBlockImage{
  margin-left:62px;
  height:60px;
  width:60px;
}
.subjects-view .subject-header .subjects-main, .chapters-view .subject-header .subjects-main
{
  margin-left:383px;
}
.subjects-view .clearfix .pointer, .subjects-view .clearfix .pointerText
{
  margin-left:586px;
  padding-top:22px;
}


.chapters-view .subject-header .subjects-main .header-icon
{
  margin-top:-94px;
}
.chapters-view .subject-header .gradeBlock
{
  width:187px;
  height:207px;
}
.chapters-view .subject-header .gradeBlock .gradeText{
  padding-left:68px;
}
.chapters-view .subject-header .gradeBlock .gradeBlockImage{
  margin-left:62px;
  height:60px;
  width:60px;
}
.chapters-view .header-content .search
{
  display:inline-block;
  padding:25px;
  margin-left:383px;
}
.chapters-view .main-content .chapters-container .listText
{
  padding-left:31px;
}




.contents-view .subject-header .subjects-main .header-icon
{
  margin-top:-94px;
}
.contents-view .subject-header .subjects-main
{
  margin-left:374px;
}
.contents-view .header-content .main-logo
{
  margin-top:-90px;
}
.contents-view .subject-header .gradeBlock
{
  width:187px;
  height:207px;
}
.contents-view .subject-header .gradeBlock .gradeText{
  padding-left:68px;
}
.contents-view .subject-header .gradeBlock .gradeBlockImage{
  margin-left:62px;
  height:60px;
  width:60px;
}
.contents-view .main-content .chapters-container .listText
{
  padding-left:31px;
}


.header-icon .icon {
    height: 60px;
    width: 60px;
    background-size: 40px 40px;
    border-radius: 30px;
    margin: 0px 15px 5px 15px;
    float:none;
}

.header-icon .icon-text {
    font-size: 18px;
}
.pointer
{
  margin-left:459px;
}
