.header-icon {
    width: 80px;
}

.header-icon .icon {
    height: 50px;
    width: 50px;
    background-size: 30px 30px;
    border-radius: 25px;
    margin: 0px 15px 5px 15px;
}

.otherApps
{
  margin-right:18px;
  margin-top:20px;
}
.main-content .blocks
{
  width:105px;
  height:105px;
  background-size:95px 95px;
}
.subjects-view .header-content .main-logo {
  margin-top:-90px;
}
.subjects-view .otherApps{
  margin-right:3px;
}
.subjects-view .header-content .search {
  margin-left:283px;
}
.subjects-view .header-content .search input {
    width:240px;
    height:40px;
    font-size:17px;
}
.subjects-view .header-content .search button {
    background-position: -6px -2px;
    background-size:78px 52px;
    width:61px;
    height:44px;
}
