.view {
    width: 100%;
    height: auto;
    margin: auto;
}
.header-content {
    margin: auto;
    /*margin-top:50px;*/
}
.main-content {
    height: auto;
    /*margin-top:100px;*/
}
.clearfix {
    clear: both;
}
#link {
  text-decoration:none;
}
.logo-header {
    margin: auto;
    width: 300px;
    padding: 20px;
}
.otherApps{
  background-color:#1c75bc;
  border-radius:4px;
  width:129px;
  height:41px;
  float:right;
  margin:auto;
  margin-right:451px;
}
.otherAppImage{
  vertical-align:middle;
  width:33px;
  padding-left:4px;
  padding-top:5px;
}
.otherAppText{
  color:white;
  padding-top:3px;
  padding-left:3px;
  font-size:18px;
}

.logo-header img {
    width: 280px;
}

.header-icon {
    display: block;
    float: left;
    text-align: center;
}

.header-icon .icon {
    display: inline-block;
    float: left;
    background-color: #6d6e71;
    background-repeat:no-repeat;
    background-position: center;
}

.header-icon .icon-text {
    font-family: sans-serif;
    color: #6d6e71;
    text-decoration: none;
    width: 100%;
    text-align: center;
    display: block;
    padding-top: 5px;
}

.home-view .header-content .search {
    width: 620px;
    margin: auto;
    display: block;
    padding: 20px;
}

.home-view .header-content .search input {
    display: inline-block;
    float: left;
    width: 500px;
    height: 56px;
    border-radius: 10px 0px 0px 10px;
    font-size: 20px;
    font-family: sans-serif;
    border: 1px solid #656467;
    padding-left: 10px;
}

.home-view .header-content .search button {
    display: inline-block;
    float: left;
    background-image: url("../images/search.png");
    background-size: 85px 60px;
    width: 80px;
    height: 60px;
    border:none;
    background-position: -5px -1px;
    border-radius: 0px 5px 5px 0px;
    margin-left: -10px;
}

.home-view .main-content .subjects-container {
    width: 900px;
    margin: auto;
    display: block;
}
.grades-container{
  width:1024px;
  margin:auto;
  display:block;
}
.grades-container h1{
  font-family:sans-serif;
  font-size:27px;
  font-weight:bold;
  text-decoration:none;
  padding:20px 0px 0px 20px;
}
.main-content .subjects-container h1 {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: normal;
    text-decoration: none;
    padding: 20px 0px 0px 20px;
}
.main-content .blocks {
    float: left;
    background-color:#939598;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 20px;
    padding: 5px;
    background-repeat: no-repeat;
    background-size: 120px 120px;
    background-position: center;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 25px;
    color: white;
    text-decoration: none;
    text-align: center;
}
.blocks:hover{
  background-color:#f7941e;
}
.main-content .blocks label {
    display: inline-block;
    padding-top: 205px;
    cursor: auto;
}
