.subjects-view .header-content {
    background-color: #f1f2f2;
    float:left;
    height:110px;
    width:100%;
    border-bottom:1px solid #000;
}
.subjects-view .header-content .main-logo {
  width:250px;
  float:left;
}
.otherApps
{
  margin-right: 350px;
  margin-top: 25px;
}
.subjects-view .subject-header{
  border:1px solid #000;
}
.otherAppImage{
  width:30px;
}
.icon-text{
  color:#f7941e;
}
.subjects-view .subject-header .gradeBlock{
  width:285px;
  height:134px;
  background-color:#6d6e71;
  margin-top:100px;
}
.subjects-view .subject-header .gradeBlock .gradeBlockImage{
  border:2px solid #fff;
  border-radius:10px;
  height:75px;
  width:75px;
  margin-top:6px;
  margin-left:103px;
}
.subjects-view .subject-header .gradeBlock .gradeText{
  color:white;
  padding-left: 114px;
  font-family: sans-serif;
  font-size: 20px;
}
.subjects-view .header-content .search {
    display: inline-block;
    padding: 27px;
    margin-left:400px;
}

.subjects-view .header-content .search input {
    display: inline-block;
    float: left;
    border-radius: 10px 0px 0px 10px;
    font-family: sans-serif;
    border: 1px solid #656467;
    padding-left: 10px;
    width:440px;
    height:45px;
    font-size:21px;
}
.subjects-view .subjects-main{
  margin-left:580px;
}
.check{
  border:1px solid #000;
}
.subjects-view .header-content .search button {
    display: inline-block;
    float: left;
    background-image: url("../images/search.png");
    border:none;
    background-position: -5px -1px;
    border-radius: 0px 5px 5px 0px;
    margin-left: -10px;
    background-size:80px 55px;
    width:75px;
    height:49px;
}

.subjects-view .subject-header .header-icon{
  float:left;
  width:120px;
  text-align:center;
  display:block;
  margin-top:-107px;
}
.subjects-view .subject-container {
    border:1px solid;
}
.pointerText{
  font-family:sans-serif;
  font-size:24px;
  font-weight:bold;
}
.pointer{
  margin-left:680px;
  width:150px;
  padding-top:25px;
}
