.subsection-view .header-content {
    background-color: #f1f2f2;
}

.subsection-view .header-content .search {
    display: inline-block;
    padding: 20px;
    float: right;
}

.subsection-view .header-content .search input {
    display: inline-block;
    float: left;
    border-radius: 10px 0px 0px 10px;
    font-family: sans-serif;
    border: 1px solid #656467;
    padding-left: 10px;
}

.subsection-view .header-content .search button {
    display: inline-block;
    float: left;
    background-image: url("../images/search.png");
    border:none;
    background-position: -5px -1px;
    border-radius: 0px 5px 5px 0px;
    margin-left: -10px;
}

.subsection-view .main-content {
    width: 100%;
}

.subsection-view .main-content .subjects-container {
    width: 80%;
    margin: 0 10% 0 10%;
}