.header-icon {
    width: 120px;
}

.header-icon .icon {
    height: 80px;
    width: 80px;
    background-size: 50px 50px;
    border-radius: 40px;
    margin: 0px 20px 5px 20px;
}

.header-icon .icon-text {
    font-size: 20px;
}
.otherApps{
  margin-right:120px;
  margin-top:25px;
}
.contents-view .subject-header .gradeBlock {
  width: 247px;
}
.chapters-view .subject-header .gradeBlock {
  width:247px;
}
.subjects-view .header-content .main-logo {
  margin-top:-90px;
}
