<div class="home-view view">
    <div class="header-content">
        <div class="logo-header">
            <img src="images/logo.png" alt="logo">
        </div>
        <div class="search">
            <input type="text" ng-model="keyword" onkeypress="detectEnterKey(event)" placeholder="Search app with subject, topic" />
            <a href="#/search/{{keyword}}" id="search-button"><button></button></a>
        </div>

        <a id="link" href="#/otherApps" class="otherApps">
          <img class="otherAppImage" src="images/otherapps.png" alt="otherApps"/>
          <span class="otherAppText">Other apps</span>
        </a>

    <div class="clearfix"></div>
    <div class="main-content">
    <div class="grades-container">
        <h1 id="choose">Select your grade</h1>
        <div class="clearfix"></div>
        <div ng-repeat="grade in grades">
            <a  class="blocks" href="#/grades/{{grade.id | lowercase}}"
              style="background-image:url('images/grades/{{grade.id}}.png')">

            </a>
        </div>
    </div>
    </div>
</div>
